@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  @apply text-[#B5E2FA] bg-[#33294A];
}

h1 {
  text-shadow: -1px 2 black, 2 1px black, 1px 2 black, 2 -1px black;
  font-family: 'Bebas Neue', cursive;
  @apply tracking-tight text-7xl uppercase;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply tracking-wide;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  @apply tracking-wide;
}

.btn {
  @apply border-2 border-black/10 px-8 py-2 rounded-lg bg-white/10 text-white uppercase font-semibold hover:brightness-110 hover:border-black/20 active:border-black/30 transition-all duration-300;
}

.btn2 {
  @apply border-2 border-black/10 px-8 py-2 rounded-2xl bg-[#33294A]/10 text-white uppercase font-semibold hover:brightness-110 hover:border-black/30 active:border-black/50 transition-all duration-100 text-xs;
}

.btn3 {
  @apply px-3 sm:px-6 py-2 border border-slate-800 rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-slate-500/70 hover:text-slate-100/80;
}

.btn4 {
  @apply px-10 py-5 border bg-slate-400/70 border-slate-600 rounded-md uppercase tracking-widest text-gray-300 transition-all hover:border-slate-300/70 hover:text-slate-400/80 text-lg font-bold;
}
.btn4-dis {
  @apply px-10 py-5 border bg-slate-400/30 border-slate-600 rounded-md uppercase tracking-widest text-gray-100/30 transition-all text-lg font-bold;
}

.intro-boxes-img,
.intro-boxes-p {
  @apply border border-spacing-1 border-slate-300/70 bg-slate-900/20 p-4 rounded-3xl shadow-lg m-5;
}

.intro-boxes-p {
  @apply flex justify-center items-center text-lg tracking-tighter;
}

.service-box {
  @apply border border-spacing-1 border-slate-300/70 bg-slate-900/20 p-4 rounded-3xl shadow-lg m-5;
}

.header-link {
  @apply text-xs hover:brightness-90 active:brightness-110 active:opacity-100 tracking-tighter opacity-80;
}

.nav-link {
  @apply text-3xl hover:brightness-90 active:brightness-110 uppercase tracking-wider;
}

.process {
  @apply bg-[#33294A]/90 rounded-2xl min-h-[350px] p-4 sm:p-10 m-4 shadow-xl border border-gray-600/30 grid grid-cols-2 gap-x-8;
}

.process-wrap {
  @apply m-auto;
}

.process-p {
  @apply text-sm sm:text-base;
}

.process-img {
  @apply sm:w-[400px] h-80 sm:h-60 object-cover object-center rounded-2xl shadow-2xl;
}

.error {
  @apply text-[#F34213];
}

.success {
  @apply text-[#136F63];
}

.warning {
  @apply text-[#E0CA3C];
}

.input-field {
  @apply w-[100vw] p-2 m-20;
}

.contact-input {
  @apply outline-none w-full bg-slate-100/90 rounded-sm border-b px-6 py-4 border-gray-400 transition-all text-gray-800 focus:border-gray-300/60;
}

.custom-img {
  background-image: url('https://res.cloudinary.com/dzitj9wug/image/upload/v1701065852/PurpleSoundCo/Images/gallery/7_wpiotf.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img2 {
  background-image: url('https://res.cloudinary.com/dzitj9wug/image/upload/v1701065852/PurpleSoundCo/Images/gallery/8_ihfdbw.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img3 {
  background-image: url('https://res.cloudinary.com/dzitj9wug/image/upload/v1701065853/PurpleSoundCo/Images/gallery/9_fq7617.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img4 {
  background-image: url('https://res.cloudinary.com/dzitj9wug/image/upload/v1701065861/PurpleSoundCo/Images/gallery/11_fstl6a.jpg');
  background-position: center;
  background-size: cover;
}

.bg-img {
  background-image: url('/images/gallery/1.jpg');
  background-position: center;
  background-size: cover;
}
