@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  @apply text-[#B5E2FA] bg-[#33294A]/70;
}

h1 {
  text-shadow: -1px 2 black, 2 1px black, 1px 2 black, 2 -1px black;
  font-family: 'Bebas Neue', cursive;
  @apply tracking-tight text-7xl uppercase;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply tracking-wide;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  @apply tracking-wide;
}

.btn {
  @apply border-2 border-black/10 px-8 py-2 rounded-full bg-[#33294A] text-white uppercase font-semibold hover:brightness-110 hover:border-black/30 active:border-black/50 transition-all duration-100;
}

.btn2 {
  @apply border-2 border-black/10 px-8 py-2 rounded-2xl bg-[#33294A]/10 text-white uppercase font-semibold hover:brightness-110 hover:border-black/30 active:border-black/50 transition-all duration-100 text-xs;
}

.intro-boxes-img,
.intro-boxes-p {
  @apply border border-spacing-1 border-slate-300/70 bg-slate-900/20 p-4 rounded-3xl shadow-lg m-5;
}

.intro-boxes-p {
  @apply flex justify-center items-center text-lg tracking-tighter;
}

.service-box {
  @apply border border-spacing-1 border-slate-300/70 bg-slate-900/20 p-4 rounded-3xl shadow-lg m-5;
}

.header-link {
  @apply text-xs hover:brightness-90 active:brightness-110 uppercase tracking-wider;
}

.process {
  @apply bg-[#33294A]/90 rounded-2xl min-h-[350px] p-10 m-4 shadow-xl border border-gray-600/30 grid grid-cols-2 space-x-8;
}

.process-wrap {
  @apply m-auto;
}

.process-wrap-img-r {
  @apply pr-4;
}

.process-img {
  @apply w-[400px] h-60 object-cover object-center rounded-2xl shadow-2xl;
}

.error {
  @apply text-[#F34213];
}

.success {
  @apply text-[#136F63];
}

.warning {
  @apply text-[#E0CA3C];
}

.custom-img {
  background-image: url('/images/gallery/7.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img2 {
  background-image: url('/images/gallery/8.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img3 {
  background-image: url('/images/gallery/9.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img4 {
  background-image: url('/images/gallery/11.jpg');
  background-position: center;
  background-size: cover;
}

.bg-img {
  background-image: url('/images/gallery/1.jpg');
  background-position: center;
  background-size: cover;
}
