@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-shadow: -1px 2 black, 2 1px black, 1px 2 black, 2 -1px black;
  font-family: 'Bebas Neue', cursive;
}

.custom-img {
  background-image: url('/images/img2.jpg');
  background-size: contain;
}
