@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.custom-img {
  background-image: url('/images/img1.png');
  background-size: cover;
}
